@import "../../utils/Colors.scss";


.items-container {
    height: 100vh;
    display: flex;
    padding: 10vh;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    .button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}