@import "../../utils/Colors.scss";


.store-container {
    height: 100vh;
    display: flex;
    padding: 10vh;
    flex-direction: column;
    overflow: auto;

    .button-container {
        align-self: flex-end;
    }
}