@import "../../utils/Colors.scss";


.category-container {
    height: 100vh;
    display: flex;
    padding: 10vh;
    flex-direction: column;
    overflow: auto;

    .button-container {
        display: flex;
        justify-content: space-between;
    }
}