//Global Colors

$primary: #5E35B1;
$primary_light: #D0C6E4;
$secondary: #DDD0C8;
$secondary_light: rgba($secondary, 0.3);

$info: #2d9bdc;
$warning: #d6732d;
$error: #d62c3b;
$success: #2ed166;

$white: #ffffff;
$black: #000000;